extends ../template 

block title
    title Мои работы
    - var page = 'works'
block content
    section.works__second-section.works-second-section
        .works-second-section__title
            svg.works-second-section__title-bg
                use(xlink:href="./assets/icons/svg/symbols.svg#works_header")
            .works-second-section__title-text Мои работы
        .works-second-section__projects
            ul.projects
                - var school = ['Сайт школы онлайн образования', 'HTML, CSS, JavaScript', '#', './assets/images/project-slider/school.png', 'active']
                - var yoga = ['Сайт школы онлайн образования', 'HTML, CSS, JavaScript', '#', './assets/images/project-slider/yoga.png', 'visually-hidden']
                - var design = ['Сайт школы онлайн образования', 'HTML, CSS, JavaScript', '#', './assets/images/project-slider/design.png', 'visually-hidden']
                each slide in [school, yoga, design]
                    li.projects__item(class= slide[4])
                        .projects__left.project-description.project-description_outer
                            .project-description__title #{slide[0]}
                            .project-description__technologies #{slide[1]}
                            a.project-description__link(href="" +slide[2]) Посмотреть сайт
                                svg.project-description__link-icon
                                    use(xlink:href="./assets/icons/svg/symbols.svg#link")
                        .projects__right.project-slider
                            .project-slider__big-bg(style=`background-image:url(${slide[3]})`)
                                img.project-slider__picture.visually-hidden(src="" + slide[3])

                            .project-description.project-description_inner
                                .project-description__title #{slide[0]}
                                .project-description__technologies #{slide[1]}
                                a.project-description__link(href="" +slide[2]) Посмотреть сайт
                                    svg.project-description__link-icon
                                        use(xlink:href="./assets/icons/svg/symbols.svg#link")

                            .project-slider__controls
                                a.project-slider__button.project-slider__button_prev(href="#")
                                    .project-slider__bg(style=`background-image:url(${yoga[3]})`)
                                        img.project-slider__img(class="visually-hidden" src="" +yoga[3])
                                    .project-slider__filter.project-slider__filter_prev
                                        svg.project-slider__button-arrow.project-slider__button-arrow_down
                                            use(xlink:href="./assets/icons/svg/symbols.svg#portf_arrow_down")
                                a.project-slider__button.project-slider__button_next(href="#")
                                    .project-slider__bg(style=`background-image:url(${design[3]})`)
                                        img.project-slider__img(class="visually-hidden" src="" +design[3])
                                    .project-slider__filter.project-slider__filter_next
                                        svg.project-slider__button-arrow.project-slider__button-arrow_up
                                            use(xlink:href="./assets/icons/svg/symbols.svg#portf_arrow_up")

    section.last-section.works__last-section.works-last-section
    
        .works-last-section__title Что обо мне говорят
            svg.works-last-section__title-bg
                use(xlink:href="./assets/icons/svg/symbols.svg#about_header")
        .works-last-section__reviews
            ul.reviews
                li.reviews__item
                    .reviews__text
                        i(class="fa fa-quote-left fa-3x" aria-hidden="true")
                        p.
                            Этот парень проходил обучение веб-разработке 
                            не где-то, а в LoftSchool! 5 месяцев только самых 
                            тяжелых испытаний и бессонных ночей!
                    .reviews__user.review-user
                        .review-user__avatar(style="background-image:url(./assets/images/reviews/kovalchuk.png)")
                            img.review-user__avatar-img.visually-hidden(src="./assets/images/reviews/kovalchuk.png")
                        .review-user__about
                            .review-user__name Ковальчук Дмитрий
                            .review-user__position основатель Loftschool

            
                li.reviews__item
                    .reviews__text
                        i(class="fa fa-quote-left fa-3x" aria-hidden="true")
                        p.
                            Этот код выдержит любые испытания. Только 
                            пожалуйста, не загружается сайт на слишком 
                            старых браузерах!
                    .reviews__user.review-user
                        .review-user__avatar(style="background-image:url(./assets/images/reviews/sabantsev.png)")
                            img.review-user__avatar-img.visually-hidden(src="./assets/images/reviews/sabantsev.png")
                        .review-user__about
                            .review-user__name Сабанцев Владимир
                            .review-user__position преподаватель

        .works-last-section__form#works-last-section__form
            .works-last-section__blur#works-last-section__blur
            form.works-form
                .works-form__wrapper
                    .works-form__inputs
                        .works-form__title Связаться со мной
                        input.works-form__name(type="text" placeholder="Имя")
                        input.works-form__email(type="email" placeholder="Email")
                        textarea.works-form__comment(placeholder="Ваше сообщение")
                    .works-form__controls
                        button.works-form__btn.works-form__btn_submit(type="submit") Отправить
                        button.works-form__btn.works-form__btn_reset(type="reset") Очистить
        a.works-last-section__arrow(href="#")
            svg.works-last-section__arrow-img
                use(xlink:href="./assets/icons/svg/symbols.svg#portf_arrow_up")

        